:host {
  display: block;
}

paper-button {
  text-transform: none;
  margin: 0;
}

paper-button + paper-button {
  margin-left: 0.58em;
}

.core-selected {
  color: #fff;
  background-color: #03a9f4;
}
