:host {
  display: block;
}

#time {
  font-size: 1.25em;
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
  width: 75px;
}

#timeInput {
  margin: 0;
  margin-top: 1px;
}

paper-radio-button {
  display: block;
}
