:host {
  display: block;
}

paper-button {
  background-color: #03a9f4;
  color: #fff;
  margin-left: 0px;
  text-transform: none;
}

.preview {
  opacity: 0.3;
  transition: opacity 0.25s ease-in-out;
}

.preview:hover {
  opacity: 1;
}

.core-selected {
  opacity: 1; 
}

.or {
  font-size: 1.5em;
}
