:host {
  display: block;
  margin-top: 20px;
}

.noRules {
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
  margin: 0;
}

rule-card {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.summaryCard {
  cursor: pointer;
}

#openedRule {
  margin: 40px 0px;
}
