a.changeable {
  text-decoration: underline;
  cursor: pointer;
}

.changeable {
  color: #03a9f4 }

.instructions {
  margin-top: 0;
}

.label {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-right: 10px;
}
paper-dropdown-menu {
  font-size: 1.25em;
  height: 1.5em;
  margin: 0px;
  padding: 0px;
  margin-right: 0.5em;
}
time-picker {
  width: 150px;
  margin-right: 10px;
}
.day + .day {
  margin-left: 10px;
}
.day paper-checkbox {
  margin-bottom: 10px;
}
paper-checkbox[disabled] #checkboxContainer > #checkbox {
  opacity: 1;
}
paper-checkbox[disabled] /deep/ #checkboxContainer > #checkbox {
  opacity: 1;
}
paper-checkbox[checked] #checkboxContainer > #checkbox {
  border-color: #0f9d58;
}
paper-checkbox[checked] /deep/ #checkboxContainer > #checkbox {
  border-color: #0f9d58;
}

.stepCollapse {
  margin-top: 40px;
}

/* Rule preview */
.preview {
  font-size: 2.5em;
}

.taChip {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 0em 0.125em;
}

.ifThenSection {
  white-space: nowrap;
}

.deleteButton {
  text-transform: none
}

.deleteButton:hover {
  color: #fff;
  background-color: #ff5722;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
