<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Robot web study</title>
    <script src="/txg/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/txg/bower_components/font-roboto/roboto.html">
    <link rel="import" href="/txg/bower_components/paper-button/paper-button.html">
    <style>
      body {
        color: rgba(0, 0, 0, 0.87);
        font-family: 'Roboto', sans-serif;
        margin: 0px auto;
        max-width: 900px;
      }
      paper-button {
        color: #fff;
        background-color: #4CAF50;
        margin-left: 0px;
        text-transform: none;
      }
    </style>
  </head>
  <body>   
    <a href="{{login_url}}"><paper-button raised>Log in</paper-button></a>
  </body>
</html>
