<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot web study</title>
    <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="bower_components/font-roboto/roboto.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <style>
      body {
        color: rgba(0, 0, 0, 0.87);
        font-family: 'Roboto', sans-serif;
      }
      paper-button {
        color: #fff;
        background-color: #4CAF50;
        margin-left: 0px;
        text-transform: none;
      }
    </style>
  </head>
 
  <body>   
    <p>Welcome to our study on programming tasks for robots.</p>
    <p>In this study, you will be asked to do either 1) create programs for a robot, to achieve a desired outcome,
    or 2) answer a question about an existing program.
    You have been randomly chosen to use one of a few alternative interfaces for this task.</p>
    <p>Please do the tasks carefully. In some cases, there is no right or wrong answer.
    In other cases, there is only one correct answer. Getting these questions wrong may invalidate your HIT.</p>
    <p>Click "Begin study" to start.</p>
    <a href="/start"><paper-button>Begin study</paper-button></a>
  </body>
</html>
