:host {
  display: block;
}

.preview {
  opacity: 0.3;
  transition: opacity 0.25s ease-in-out;
  text-align: center;
}

.preview:hover {
  opacity: 1;
}

.core-selected {
  opacity: 1; 
}

.or {
  font-size: 1.5em;
}
