<launch>
  <node pkg="trigger_action_programming" type="node.py" name="trigger_action_programming" output="screen">
    <param name="mock" type="bool" value="True" />
  </node>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9999" />
  </include>
</launch>
