<launch>
  <node pkg="sound_play" type="soundplay_node.py" name="sound_play" />
  <node pkg="trigger_action_programming" type="clock.py" name="trigger_action_clock" />
  <include file="$(find face_detector)/launch/face_detector.wide.launch" />
  <node pkg="trigger_action_programming" type="node.py" name="trigger_action_programming">
    <param name="mock" type="bool" value="False" />
  </node>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9999" />
  </include>
</launch>
