:host {
  display: block;
  padding: 10px;
}

.ruleDesc {
  font-size: 2.5em;
  line-height: 150%;
}

.taChip {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 0em 0.125em;
}

.ifThenSection {
  white-space: nowrap;
}

.preview {
  font-size: 2.5em;
}

paper-button {
  background-color: #03a9f4;
  color: #fff;
  margin-left: 0px;
  text-transform: none;
}

core-collapse + core-collapse {
  margin-top: 20px;
}
