:host {
  display: block;
  padding: 10px;
}

.next {
  background-color: #03a9f4;
  color: #fff;
  margin-left: 0px;
  text-transform: none;
}

.updateTitle {
  font-size: 1.5em;
}

.nameInput {
  display: block;
  width: 100%;
}
