:host {
  display: block;
}

.ruleDesc {
  font-size: 2.5em;
  line-height: 150%;
  padding: 10px;
}

.taChip {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 0em 0.125em;
}

.ifThenSection {
  white-space: nowrap;
}

#update {
  padding: 10px;
}

.preview {
  font-size: 2.5em;
}
