:host {
  display: block;
  padding: 10px;
}

.ruleDesc {
  font-size: 2.5em;
  line-height: 150%;
}

.next {
  background-color: #03a9f4;
  color: #fff;
  margin-left: 0px;
  text-transform: none;
}
